h2 {
  font-size: 18px;
}

.weather-app {
  text-align: center;
  background-image: url("../assets/thunderstorm.png");
  margin: 0 auto;
  padding: 20px;
  width: 450px;
  height: 570px;
  border: solid; /*0.5rem;*/
  color: white;
  font-family: "Nunito Sans", sans-serif;
}

#search-bar {
  width: 200px;
  margin: 10px 0 20px 30px;
  opacity: 70%;
}

#submit-button {
  margin: 10px 0 20px 0;
  height: 30px;
  font-size: 14px;
  line-height: 14px;
}

#current-location-button {
  width: 80px;
  height: 30px;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  top: 10px;
  right: 35px;
}

.city {
  text-transform: uppercase;
  /*note: 'capitalize' makes the first letter upper case, i.e. sentence case */
  /*font-family: "Josefin Sans", sans-serif; */ /*this font puts it at the top of the box rather than the middle*/
  font-size: 30px;
  line-height: 30px;
  margin: 2px 0 5px 0; /* for some reaon there's more bottom padding than top, but if you remove bottom padding it's too high*/
}
/*note: for the city, the width is specified in the HTML div element */
/*make the search bar above match by changing width*/

.body {
  font-family: "Rubik", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#today-time {
  margin: 20px 20px 0px 40px;
  font-size: 14px;
  text-align: left;
}

.today {
  padding: 15px 20px 15px 20px;
}

#description {
  text-transform: lowercase;
  font-size: 28px;
  text-align: right;
}

.weather-temperature {
  position: relative;
  left: -5px;
}

#temp-today,
#degrees {
  font-size: 28px;
}

#degrees-units {
  font-size: 12px;
  vertical-align: middle;
}

.weather-temperature .active {
  color: white;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.future-days {
  padding: 5px;
  position: relative;
  top: -10px;
  left: 5px;
}

.forecast-date {
  text-align: right;
}

.forecast-emoji {
  position: relative;
  top: -5px;
  left: -3px;
}

.forecast-temp {
  text-align: center;
}

.temp-low {
  opacity: 0.6;
}

#credit {
  color: black;
  font-family: monospace;
  font-size: 14px;
  opacity: 0.8;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 15px;
}

#github:hover {
  opacity: 1;
  color: rgb(253, 103, 160);
  transition: all 200ms ease-in-out;
}
